In [1]:
# Import Dependencies
import pandas as pd

In [9]:
# Make a reference to the books.csv file path
csv_path = "Resources/cities.csv"

# Import the books.csv file as a DataFrame
cities_df = pd.read_csv(csv_path, encoding="utf-8")
cities_df.head()

,Cities,Country,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,hobart,au,-42.88,147.33,66.00,80.0,100.0,1.99
1,port augusta,au,-32.50,137.77,70.00,52.0,0.0,1.99
2,bluff,nz,-46.60,168.33,57.00,86.0,61.0,2.80
3,kapaa,us,22.08,-159.32,68.00,59.0,45.0,7.34
4,kedrovyy,ru,56.17,91.82,23.13,79.0,100.0,12.80

In [10]:
# Push the remade DataFrame to a new CSV file
cities_df.to_html("ConvertedData.html")
            #      encoding="utf-8", index=False, header=True)